@page "/admins/create"
@using Microsoft.EntityFrameworkCore
@using SpaProject.Models
@inject IDbContextFactory<SpaProject.Data.SpaProjectAdminDB> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Admin</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Admin" OnValidSubmit="AddAdmin" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="bookingtime" class="form-label">BookingTime:</label> 
                <InputDate id="bookingtime" @bind-Value="Admin.BookingTime" class="form-control" /> 
                <ValidationMessage For="() => Admin.BookingTime" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="notes" class="form-label">Notes:</label> 
                <InputText id="notes" @bind-Value="Admin.Notes" class="form-control" /> 
                <ValidationMessage For="() => Admin.Notes" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/admins">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Admin Admin { get; set; } = default!;

    protected override void OnInitialized() => Admin ??= new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddAdmin()
    {
        using var context = DbFactory.CreateDbContext();
        context.Admin.Add(Admin);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/admins");
    }
}
