@page "/service/selected/{serviceName}/{duration}"
@using System.Collections.Generic
@rendermode InteractiveServer

<h3>Select a time</h3>
@if(LogedIn.GetLogedIn() == false)
{
    <div class="alert alert-danger" role="alert">
        You must be logged in to schedule a service!
    </div>
}
@if (LogedIn.GetLogedIn() == true)
    {
<p>Great choice! A @serviceName for @duration minutes is our favorite.</p>

<br />

<div class="container">

    <p>Next step, select a date and time</p>

    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Month" aria-label="Month" aria-describedby="basic-addon2" @bind="Month">
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Day" aria-label="Day" aria-describedby="basic-addon2" @bind="Day">
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Year" aria-label="Year" aria-describedby="basic-addon2" @bind="Year">
    </div>

    <button class="btn btn-primary" @onclick="CheckTime">Schedule time!</button>
</div>
<br />
<br />
<div class="container">
    @if (falseTime)
    {
        <div class="alert alert-danger" role="alert">
            Incorrect time entered!
        </div>
    }
</div>
    }


@code {
    [Parameter]
    public string? serviceName { get; set; }
    [Parameter]
    public string? duration { get; set; }

    public bool falseTime = false;

    public int? Month { get; set; }

    public int? Day { get; set; }

    public int? Year { get; set; }

    public void CheckTime()
    {
        if(Year<2025 || Day <1 || Day>31 || Month<1 || Month>12 ||Year==null || Day==null || Month==null)
        {
            falseTime = true;
        }
        else
            falseTime = false;
    }
}
