@page "/mains/edit"
@using Microsoft.EntityFrameworkCore
@using SpaProject.Models
@inject IDbContextFactory<SpaProject.Data.SpaProjectContextMainDB> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Main</h2>
<hr />
@if (Main is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Main" OnValidSubmit="UpdateMain" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Main.Id" value="@Main.Id" />
                <div class="mb-3">
                    <label for="message" class="form-label">Message:</label>
                    <InputText id="message" @bind-Value="Main.Message" class="form-control" />
                    <ValidationMessage For="() => Main.Message" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/mains">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Main? Main { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Main ??= await context.Main.FirstOrDefaultAsync(m => m.Id == Id);

        if (Main is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateMain()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Main!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!MainExists(Main!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/mains");
    }

    private bool MainExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Main.Any(e => e.Id == id);
    }
}
