@page "/mains"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using SpaProject.Models
@using SpaProject.Data
@implements IAsyncDisposable
@inject IDbContextFactory<SpaProject.Data.SpaProjectContextMainDB> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="mains/create">Create New</a>

</p>


<QuickGrid Class="table" Items="context.Main">

    <PropertyColumn Property="main => main.Message" />

    <TemplateColumn Context="main">
        <a href="@($"mains/edit?id={main.Id}")">Edit</a> |
        <a href="@($"mains/details?id={main.Id}")">Details</a> |
        <a href="@($"mains/delete?id={main.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private SpaProjectContextMainDB context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
