@page "/registers/create"
@using Microsoft.EntityFrameworkCore
@using SpaProject.Models
@inject IDbContextFactory<SpaProject.Data.SpaProjectRegisterDB> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Register</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Register" OnValidSubmit="AddRegister" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <span class="text-danger">*</span>
                <label for="email" class="form-label">Email:</label> 
                <InputText id="email" @bind-Value="Register.Email" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Register.Email" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <span class="text-danger">*</span>
                <label for="password" class="form-label">Password:</label> 
                <InputText id="password" @bind-Value="Register.Password" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Register.Password" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="isadmin" class="form-label">IsAdmin:</label> 
                <InputCheckbox id="isadmin" @bind-Value="Register.IsAdmin" class="form-check-input" /> 
                <ValidationMessage For="() => Register.IsAdmin" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/registers">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Register Register { get; set; } = default!;

    protected override void OnInitialized() => Register ??= new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddRegister()
    {
        using var context = DbFactory.CreateDbContext();
        context.Register.Add(Register);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/registers");
    }
}
