@page "/registers"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using SpaProject.Models
@using SpaProject.Data
@implements IAsyncDisposable
@inject IDbContextFactory<SpaProject.Data.SpaProjectRegisterDB> DbFactory


<div class="container d-flex justify-content-center">
    <div class="w-100" style="max-width: 400px;">

        <div class="text-center mb-3">
            <span class="badge bg-primary fw-bold">
                Register below:
            </span>
        </div>

        <form>
            <div class="form-outline mb-4">
                <input type="email" id="form2Example1" class="form-control" />
                <label class="form-label" for="form2Example1">Email address</label>
            </div>

            <div class="form-outline mb-4">
                <input type="password" id="form2Example2" class="form-control" />
                <label class="form-label" for="form2Example2">Password</label>
            </div>

            <button type="button" class="btn btn-primary w-100 mb-4">
                Register
            </button>
        </form>

    </div>
</div>



@code {
    private SpaProjectRegisterDB context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
