@page "/registers"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using SpaProject.Models
@using SpaProject.Data
@implements IAsyncDisposable
@inject IDbContextFactory<SpaProject.Data.SpaProjectRegisterDB> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="registers/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Register">
    <PropertyColumn Property="register => register.Email" />
    <PropertyColumn Property="register => register.Password" />
    <PropertyColumn Property="register => register.IsAdmin" />

    <TemplateColumn Context="register">
        <a href="@($"registers/edit?id={register.Id}")">Edit</a> |
        <a href="@($"registers/details?id={register.Id}")">Details</a> |
        <a href="@($"registers/delete?id={register.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private SpaProjectRegisterDB context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
